# Scripts
scripts/

# Environment
.env
.env.local
.env.production

# Dependencies
node_modules/
bun.lock*

# Build
dist/
.turbo/
*.tsbuildinfo

# Runtime data
publisher/data/
music/interludios/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.swp
*.swo
